.footer{
  padding-top: 38px;
  padding-bottom: 47px;
  background-color: #000;

  @media screen and (min-width: $tablet-width){
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.footer-container{
  @extend .flex-center;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    padding-left: 42px;
    padding-right: 42px;
  }

  @media screen and (min-width: $desc-width) {
    padding-left: 258px;
    padding-right: 258px;
  }
}

.footer__text{
  margin-bottom: 26px;
  font-size: 12px;
  line-height: 1.667;
  color: $secondary-text-color;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 1.750;
  }

  @media screen and (min-width: $desc-width) {
    line-height: 1.625;
  }
}

.footer__addition{
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts{
  line-height: 1.715;
}

.social__list{
  display: flex;
  margin-bottom: 25px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 34px;
  }
}

.social__item{
  &:not(:last-child){
    margin-right: 6px;
  }
}

.social__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px; 
  border: 2px solid;
  border-radius: 50%;  
  background-color: transparent;
  
  &--rss{
    padding: 10px;
    border-color: #F8902E;
    color: #F8902E;
  }

  &--facebook{
    padding: 8px;
    border-color: #39599F;
    color: #39599F;
  }

  &--twitter{
    padding: 10px;
    border-color: #45B0E3;
    color: #45B0E3;
  }

  &--dribbble{
    padding: 8px;
    border-color: #ea4c89;
    color: #ea4c89;
  }

  &--pinterest{
    padding: 4px;
    border-color: #CC212C;
    color: #CC212C
  }  

  &:hover{
    cursor: pointer;
  }
}

.social__icon{ 
  width: 34px;
  height: 34px;  
  fill: currentColor;
}

.contacts__link{
  @media screen and (max-width: 767px) {
    display: block;
  }
}