.header{
  padding-top: 23px;
  padding-bottom: 23px;

  @media screen and (min-width: $tablet-width) {
    padding-bottom: 28px;
  }
}

.header__container{
  position: relative;
}

.navigation{
  display: none;
  font-size: 11px;
  line-height: 2;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: $primary-text-color;

  &--visible{
    @media screen and (max-width: 767px) {
      position: absolute;
      top: 38px;
      right: 0;
      display: block;
      padding-top: 7px;
      padding-bottom: 7px;
      background-color: #F5F5F5;
    }
  }

  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.navigation__list{
  @media screen and (min-width: $tablet-width) {
    display: flex;
  }
}

.navigation__item {
  transition: color $timing-function;
  &:not(:last-child){
    margin-right: 34px;

    @media screen and (max-width: 767px){      
      margin-bottom: 7px;
    }    
  }

  &:hover,
  &:focus{
    cursor: pointer;
    color: $accent-color;

    @media screen and (max-width: 767px){
      background-color: #e1e1e1;
    }
  }

  @media screen and (max-width: 767px){
    padding-left: 13px;
    width: 100%;
  }
}

.button{
  display: block;
  margin-left: auto;
  width: 44px;
  height: 37px;
  color: #fff;

  background-color:#000000;
  border: none;

  cursor: pointer;

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.icon__close{
  display: none;
}

