.hero{
  margin-left: auto;
  margin-right: auto;
  background-image: url('../img/rails.jpg');
  background-repeat: no-repeat;
  object-fit: cover;
  background-color: #000;
  width: 320px;
  height: 150px;

  @media screen and (min-width: $tablet-width) {
    width: 768px;
    height: 361px;
    background-image: url('../img/rails_tab.jpg');    
  }

  @media screen and (min-width: $desc-width) {
    width: 1170px;
    height: 550px;
    background-image: url('../img/rails_desc.jpg');
  }
}