.instagram-shots{
  padding-top: 38px;
  padding-bottom: 42px;

  @media screen and (min-width: $tablet-width){
    padding-top: 47px;
    padding-bottom: 50px;
    background-color: #F5F5F5;
  }  
}

.instagram-shots__title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.instagram-shots__action {
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.instagram-shots__list {
  display: flex;
  overflow: hidden;
}

.instagram-shots__item{

  &:not(:last-child){
    @media screen and (min-width: $tablet-width) {    
      margin-right: 9px;      
      margin-bottom: 0;
    }
  }
}

.instagram-shots__img{
  width: 301px;
  height: 301px;  

  @media screen and (min-width: $tablet-width) {
    width: 249px;
    height: 249px;
  }

  @media screen and (min-width: $desc-width) {
    width: 285px;
    height: 285px;
  }
}

@media screen and (max-width: 767px) {
    .instagram-shots__item:not(:first-child){
      display: none;
    }
}