.posts{
  padding-top: 38px;
  padding-bottom: 43px;

  @media screen and (min-width: $tablet-width) {
    padding-top: 59px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desc-width) {
    padding-top: 69px;
    padding-bottom: 69px;
  }

}

.posts__img{
  width: 160px;
  height: 140px;

  @media screen  and (max-width: 767px) {
    margin-bottom: 11px;
  }

  @media screen and (min-width:$tablet-width) {
    margin-right: 21px;
  }
}

.list__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2.143;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.875;
  }
}

.list__post-title {
  font-size: 11px;
  line-height: 1.818;  

  @media screen and (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 1.667;
    margin-bottom: 13px;
  }
}

.list__text{
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
    width: 404px;
    font-size: 14px;
    line-height: 1.857;
  }
}