html {
  box-sizing: border-box;  
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
button{
  margin: 0;
  padding: 0;
}

img{
  display: block;
}