body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $primary-text-color;
}

.container {
  @extend .block-center;

  width: $mobile-width;

  @media screen and (min-width: $tablet-width){
    width: $tablet-width;
  }

  @media screen and (min-width: $desc-width) {
    width: $desc-width;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.link{
  color:inherit;
  text-decoration: none;
}

.list{
  @media screen and (min-width: $desc-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.list__item {
  list-style: none;  

  @media screen and (min-width: $tablet-width) {
    display: flex;
  }
}

.posts__list{
  @media screen and (min-width: $desc-width){
    margin: -16px;
  }
}

.posts__item{
  &:not(:last-child){
    @media screen and (max-width: 1199px) {      
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: $desc-width){
    margin: 16px;
    width: 569px; //(1200px - 30px) / 2 - 16px
  }
}

.section-title {
  display: inline-block;
  margin-bottom: 23px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.571;
  text-transform: uppercase;
  color: $title-color;

  &--footer{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    color: #fff;

    @media screen and (min-width: $desc-width){
      margin-bottom: 22px;
    }
  }
}