$desc-width: 1200px;
$tablet-width: 768px;
$mobile-width: 320px;

$title-color: #4E4E4E;
$primary-text-color: #7C7C7C;
$secondary-text-color: #B9B9B9;

$accent-color: #57A4A4;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);